<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    <link rel="stylesheet" href="/stylesheet/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
   <header>
       <span class="title small-font">记账本</span>
<!--       <span class="header-other small-font">看我宝宝></span>-->
   </header>
   <!--   #infor is VUE挂载点-->
   <div id="infor" class="small-font">
       <table id="table">
           <tr id="table-head">
               <td id="year" class="table-head-item">
                    <select class="select" name="year" id="select-year">
                       <option value="2016">2016年</option>
                    </select>
               </td>
               <td id="money-out" class="table-head-item">花钱啦</td>
               <td id="money-in" class="table-head-item">来钱啦</td>
           </tr>
           <tr id="table-detail">
               <td id="month" class="table-head-item">
                    <select class="select" name="month" id="select-month">
                       <option value="1">1月</option>
                       <option value="2">2月</option>
                       <option value="3">3月</option>
                       <option value="4">4月</option>
                       <option value="5">5月</option>
                       <option value="6">6月</option>
                       <option value="7">7月</option>
                       <option value="8">8月</option>
                       <option value="9">9月</option>
                       <option value="10"10>10月</option>
                       <option value="11">11月</option>
                       <option value="12">12月</option>
                   </select>
               </td>
               <td id="money-out-number" class="table-head-item">${ spend }</td>
               <td id=money-in-number class="table-head-item">${ earn }</td>
           </tr>
       </table>
   </div>
   
   <div id="detail">
       <div id="type-bar">
           <button id="btn1" class="type-bar-btn btn-left actived-btn">近期明细</button>
           <button id="btn2" class="type-bar-btn">类别报表</button>
           <button id="btn3" class="type-bar-btn btn-right">双人报表</button>
       </div>
   </div>
<!--   这个ul是VUE挂载点-->
    <ul id="main" class="item-list">
        <li v-for="item in items">
           <ul>
                <li class="date">
                   <span class="date-detail">${ item.day }日-${ days }</span>
                </li>
                <li class="main-item" v-for="detail in item.detail">
                   <div class="icon">
                       <i class="fa"  v-bind:class="classes[detail.type]" aria-hidden="true"></i>
                   </div>
                   <div class="item">
                       <span class="item-detail small-font">${ detail.detail }</span>
                       <span class="item-cost small-font">${ detail.count }</span>
                   </div>
                </li>
            </ul>
        </li>
    </ul>
<!--    两个报表-->
    <div id="chart1" class="charts" style="display:none"></div>
    <div id="chart2" class="charts" style="display:none"></div>

    <div id="btns">
        <div id="add-btn">记一笔</div>
        <div id="delete-btn">删一笔</div>
    </div>
   
    <div id="add-panel" class="flex small-font">
       <div id="add-type" class="flex small-font">
           <label for="">类别</label>
           <select name="type" id="" class="small-font">
               <option value="transfer">转账</option>
               <option value="entertainment">娱乐</option>
               <option value="shopping">购物</option>
               <option value="traffic">交通</option>
               <option value="food">饮食</option>
           </select>
       </div>
       <div id="add-detail" class="flex small-font">
           <label for="">详情</label>
           <input type="text">
       </div>
       <div id="add-count" class="flex small-font">
           <label for="">金额</label>
           <input type="text">
       </div>
       <div id="add-negative" class="flex small-font">
            <label for="">支出</label>
           <input class="radio-input" type="radio" name="neg" value="neg" />
            <label for="">收入</label>
           <input class="radio-input" type="radio" name="pos" value="pos" />
       </div>
       <div id="add-btns" class="flex small-font">
           <button id="add-submit" class="add-btns small-font">确定</button>
           <button id="add-cancle" class="add-btns small-font">取消</button>
       </div>
    </div>
   
    <script>
        var cssEl = document.createElement('style');
        document.documentElement.firstElementChild.appendChild(cssEl);
        function setPxPerRem(){
            var dpr = 1;
            //把viewport分成10份的rem，html标签的font-size设置为1rem的大小;
            var pxPerRem = document.documentElement.clientWidth * dpr / 10;
            cssEl.innerHTML = 'html{font-size:' + pxPerRem + 'px!important;}';
        }
        setPxPerRem();
    </script>  
    <script src="/script/vue.js"></script>
    <script src='/script/echarts.min.js'></script>
    <script src="/script/script.js"></script>
<!--    <script src='/script/main.js'></script>-->
</body>
</html>